/* Global ====================================== START */
  * {
  }

  .hidden {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .barge_main_body {
    /*width: 1300px;*/
    margin: 15px auto;
    margin-top: 60px;
  }

  .barge_loading_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 2000;
  }

  .barge_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2001;
    margin: -110px 0 0 -78px;
  }
/* Global ====================================== END */

/* Quick Sidebar ====================================== START */
  .barge_qs_title {
    font-weight: bold;
    color: #EEE;
    cursor: pointer;
    text-align: center;
    padding: 6px 8px;
  }

  .barge_qs_title + ul {
    list-style: none;
    display: none;
    margin-top: 6px;
  }

  .barge_qs_label {
    display: inline-block;
    width: 120px;
  }

  .barge_qs_label + span, .barge_qs_value {
    color: #EFEFEF;
  }

 #barge_qs_data_toggle, #barge_qs_data_kml {
    text-align: center;
    padding-right: 40px;
  }

  .barge_qs_title + ul button {
    margin: 8px auto;
    width: 120px;
  }
/* Quick Sidebar ====================================== END */

/* Barge Info ====================================== START */
  .barge_info_name {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .barge_info_name h2 {
    font-weight: bold;
    color: #424242;
  }

  .barge_info_name span {
    display: block;
  }

  .portlet-sortable.light.bg-inverse {
    border: 1px solid #c0e2ff;
  }

  .barge_info_portlet .portlet-body span {
    display: inline-block;
    width: 100px;
    font-weight: normal;
  }

  .barge_info_portlet .portlet-body div {
    font-weight: bold;
    width: 200px;
    margin: auto;
  }

  .portlet>.portlet-title {
    margin-bottom: 0px;
  }

  .portlet.light .portlet-body {
      padding-top: 0px;
  }

  @media (max-width: 991px) {
    .portlet-sortable-empty {
      height: 10px;
    }

    .portlet {
      margin-bottom: 6px;
    }
  }
/* Barge Info ====================================== END */